In [1]:
#from __future__ import print_function

import os 
try:    
    import folium
except ImportError:
    !pip install --user folium
    import folium
    
from folium import plugins
import pandas as pd
import numpy as np

## Data Prep

In [2]:
data=pd.read_csv("/home/dario/NeoMeetup/Visualizations/map/export_european_cities_noeventname.csv")
data.head()
data.sort_values("ID_event").head()

,ID_member,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
19992,218084573,106866582,Paris,48.86,2.34,NaN,NaN,NaN,0.000000
35935,278846290,115197702,Madrid,40.42,-3.71,Parque de El Retiro,40.419758,-3.688406,0.000000
73293,278257631,123953142,London,51.55,-0.17,NaN,NaN,NaN,5.886219
124190,12879421,128105672,Amsterdam,52.37,4.89,"Cafetaria ""Subway"" ( Central Station Amsterdam...",52.381172,4.895554,0.000000
76791,139972652,131523832,London,51.50,-0.19,NaN,NaN,NaN,7.939657

In [3]:
print(len(data))

133070

In [4]:
for line in data.itertuples():
    if data.iloc[line.Index]['dist']==0:
        data['dist'].at[line.Index]=7 #arbitrary for milan
data.head()

,ID_member,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
0,268442147,msxvfqyzgbdc,Roma,41.9,12.48,"REC23 ""Restaurant Emporio Club"" (lungotevere...",41.882687,12.476001,7.0
1,268442147,259295022,Roma,41.9,12.48,TIM WCAP - Roma,41.882294,12.467431,7.0
2,268442147,260216317,Roma,41.9,12.48,"Via delle Fratte di Trastevere, 48",41.887978,12.471672,7.0
3,253766803,260516064,Roma,41.9,12.48,Sourcesense S.p.A.,41.828033,12.474345,7.0
4,278938809,260052645,Roma,41.9,12.48,LUISS ENLABS,41.902782,12.496366,7.0

In [5]:
data.sort_values(["ID_event","dist"], inplace=True)
data

,ID_member,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
19992,218084573,106866582,Paris,48.86,2.34,NaN,NaN,NaN,7.000000
35935,278846290,115197702,Madrid,40.42,-3.71,Parque de El Retiro,40.419758,-3.688406,7.000000
73293,278257631,123953142,London,51.55,-0.17,NaN,NaN,NaN,5.886219
124190,12879421,128105672,Amsterdam,52.37,4.89,"Cafetaria ""Subway"" ( Central Station Amsterdam...",52.381172,4.895554,7.000000
76791,139972652,131523832,London,51.50,-0.19,NaN,NaN,NaN,7.939657
13073,55734112,150138502,Paris,48.86,2.34,NaN,NaN,NaN,874.785710
3482,60378,16537690,Paris,48.86,2.34,NaN,NaN,NaN,7.000000
115271,91455112,168469672,Berlin,52.52,13.38,NaN,NaN,NaN,7.000000
65562,277957260,175163972,London,51.52,-0.10,NaN,NaN,NaN,81.525620
27894,223071391,195823772,Madrid,40.42,-3.71,Peque\u00f1o Cine Estudio,40.432446,-3.705431,7.000000
27892,223071391,196982592,Madrid,40.42,-3.71,Peque\u00f1o Cine Estudio,40.432446,-3.705431,7.000000
27405,185233369,196982592,Madrid,40.42,-3.71,Peque\u00f1o Cine Estudio,40.432446,-3.705431,19.988718
28472,277700176,214182642,Madrid,40.42,-3.71,NaN,NaN,NaN,7.000000
2119,278220928,218261902,Prague,50.08,14.43,NaN,NaN,NaN,7.000000
123453,235019546,219600327,Amsterdam,52.37,4.89,NaN,NaN,NaN,135.553942
112174,278873374,219731131,Berlin,52.52,13.38,NaN,NaN,NaN,7.000000
112175,278873374,219731231,Berlin,52.52,13.38,NaN,NaN,NaN,7.000000
58622,11343353,221929034,London,51.54,-0.05,NaN,NaN,NaN,10.446203
104890,278951915,226793360,Berlin,52.52,13.38,NaN,NaN,NaN,7.000000
108166,205944993,226944369,Berlin,52.52,13.38,NaN,NaN,NaN,3.507316
39097,104961742,226988130,London,51.52,-0.10,NaN,NaN,NaN,5.565977
73916,278465056,228133885,London,51.49,-0.12,NaN,NaN,NaN,7.000000
24360,271772917,228864830,Madrid,40.42,-3.71,NaN,NaN,NaN,7.000000
72827,183868558,230113887,London,51.52,-0.10,NaN,NaN,NaN,7.000000
74229,242639807,230113887,London,51.52,-0.10,NaN,NaN,NaN,7.000000
55159,220212652,230114341,London,51.52,-0.10,NaN,NaN,NaN,2.622056
74231,242639807,230114341,London,51.52,-0.10,NaN,NaN,NaN,7.000000
55160,220212652,230134404,London,51.52,-0.10,NaN,NaN,NaN,2.622056
47117,191256657,230134583,London,51.52,-0.10,NaN,NaN,NaN,9587.436231
83622,260348679,230607757,London,51.51,-0.14,NaN,NaN,NaN,1.385657
...,...,...,...,...,...,...,...,...,...
3809,279021108,zztxqqyzgbxb,Paris,48.86,2.34,Cafe PRET A MANGER (nueva direccion),48.864048,2.331053,7.000000
6783,268896292,zztxqqyzgbxb,Paris,48.86,2.34,Cafe PRET A MANGER (nueva direccion),48.864048,2.331053,7.000000
6686,36425122,zztxqqyzgbxb,Paris,48.86,2.34,Cafe PRET A MANGER (nueva direccion),48.864048,2.331053,8950.106854
125607,271141015,zzvbqqyzgbfb,Amsterdam,52.37,4.89,NaN,NaN,NaN,7.000000
124571,195415648,zzvbqqyzgbnb,Amsterdam,52.37,4.89,NaN,NaN,NaN,1.757112
128214,202477241,zzvbqqyzgbnb,Amsterdam,52.37,4.89,NaN,NaN,NaN,3.019320
92388,191318611,zzvzsqyzgbkb,Lisbon,38.72,-9.14,Cal\u00e7ada de Santo Andr\u00e9 72,38.715744,-9.132230,7.000000
94256,278398779,zzvzsqyzgbkb,Lisbon,38.72,-9.14,Cal\u00e7ada de Santo Andr\u00e9 72,38.715744,-9.132230,7.000000
94864,224192596,zzvzsqyzgbkb,Lisbon,38.72,-9.14,Cal\u00e7ada de Santo Andr\u00e9 72,38.715744,-9.132230,7.000000
95153,218866612,zzvzsqyzgbkb,Lisbon,38.72,-9.14,Cal\u00e7ada de Santo Andr\u00e9 72,38.715744,-9.132230,7.000000
37567,278963275,zzwbwqyzgblc,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,6712.233216
58664,191699121,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,2.986251
64240,187730093,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,4.974360
59571,193829663,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,5.652714
74772,269926123,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,5.973067
81647,96107402,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,6.468372
36567,228599652,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,7.000000
47630,235419140,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,7.000000
53232,164232352,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,7.000000
60120,258861831,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,7.000000
79180,186195808,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,7.000000
83532,161191382,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,7.000000
75636,58146242,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,8.385421
46114,273008411,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,736.249511
45302,235221445,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,1234.382494
37571,278963275,zzwbwqyzgbsb,London,51.52,-0.10,muxima cafe,51.533836,-0.027161,6712.233216
121401,215848567,zzwxvqyzgbrb,Berlin,52.52,13.38,The Castle,52.531483,13.388484,4.757221
107158,261146465,zzwxvqyzgbrb,Berlin,52.52,13.38,The Castle,52.531483,13.388484,7.000000
115470,267635119,zzwxvqyzgbrb,Berlin,52.52,13.38,The Castle,52.531483,13.388484,7.000000
110342,270647032,zzwxvqyzgbrb,Berlin,52.52,13.38,The Castle,52.531483,13.388484,2895.114251

In [6]:
ddrop=data.drop_duplicates(subset="ID_event" , keep="last")
ddrop=ddrop.drop("ID_member", axis=1)
#ddrop.sort_values("ID_event")
ddrop=ddrop.reset_index()
ddrop.head()

,index,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
0,19992,106866582,Paris,48.86,2.34,NaN,NaN,NaN,7.000000
1,35935,115197702,Madrid,40.42,-3.71,Parque de El Retiro,40.419758,-3.688406,7.000000
2,73293,123953142,London,51.55,-0.17,NaN,NaN,NaN,5.886219
3,124190,128105672,Amsterdam,52.37,4.89,"Cafetaria ""Subway"" ( Central Station Amsterdam...",52.381172,4.895554,7.000000
4,76791,131523832,London,51.50,-0.19,NaN,NaN,NaN,7.939657

In [7]:
d=data.groupby("ID_event")['dist'].quantile(0.75).reset_index()
print(d.head())
d.rename(columns={'dist':'maxdist'}, inplace=True)
ddrop=ddrop.merge(d, on="ID_event")
ddrop.head()

    ID_event      dist
0  106866582  7.000000
1  115197702  7.000000
2  123953142  5.886219
3  128105672  7.000000
4  131523832  7.939657

,index,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist,maxdist
0,19992,106866582,Paris,48.86,2.34,NaN,NaN,NaN,7.000000,7.000000
1,35935,115197702,Madrid,40.42,-3.71,Parque de El Retiro,40.419758,-3.688406,7.000000,7.000000
2,73293,123953142,London,51.55,-0.17,NaN,NaN,NaN,5.886219,5.886219
3,124190,128105672,Amsterdam,52.37,4.89,"Cafetaria ""Subway"" ( Central Station Amsterdam...",52.381172,4.895554,7.000000,7.000000
4,76791,131523832,London,51.50,-0.19,NaN,NaN,NaN,7.939657,7.939657

In [8]:
d1=data.groupby("ID_event")['ID_member'].count().reset_index()
print(d1.head())

    ID_event  ID_member
0  106866582          1
1  115197702          1
2  123953142          1
3  128105672          1
4  131523832          1

In [9]:
d1.rename(columns={'ID_member':'count_part'}, inplace=True)
ddrop=ddrop.merge(d1, on="ID_event")
ddrop.head()

,index,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist,maxdist,count_part
0,19992,106866582,Paris,48.86,2.34,NaN,NaN,NaN,7.000000,7.000000,1
1,35935,115197702,Madrid,40.42,-3.71,Parque de El Retiro,40.419758,-3.688406,7.000000,7.000000,1
2,73293,123953142,London,51.55,-0.17,NaN,NaN,NaN,5.886219,5.886219,1
3,124190,128105672,Amsterdam,52.37,4.89,"Cafetaria ""Subway"" ( Central Station Amsterdam...",52.381172,4.895554,7.000000,7.000000,1
4,76791,131523832,London,51.50,-0.19,NaN,NaN,NaN,7.939657,7.939657,1

## Let's build a map

In [10]:
#legend template
from branca.element import Template, MacroElement

template = """
{% macro html(this, kwargs) %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
  $( function() {
    $( "#maplegend" ).draggable({
                    start: function (event, ui) {
                        $(this).css({
                            right: "auto",
                            top: "auto",
                            bottom: "auto"
                        });
                    }
                });
});

  </script>
</head>
<body>

 
<div id='maplegend' class='maplegend' 
    style='position: fixed; z-index:9999; border:2px solid grey; background-color:rgba(255, 255, 255, 0.8);
     border-radius:6px; padding: 10px; font-size:14px; right: 20px; bottom: 20px;'>
     
<div class='legend-title'>Legend (draggable!)</div>
<div class='legend-scale'>
  <ul class='legend-labels'>
    <li><span style='background:red;opacity:0.7;'></span>Bacino d'utenza</li>
    <!-- questo è un commento <li><span style='background:orange;opacity:0.7;'></span>Medium</li>
    <li><span style='background:green;opacity:0.7;'></span>Small</li> -->

  </ul>
</div>
</div>
 
</body>
</html>

<style type='text/css'>
  .maplegend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .maplegend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .maplegend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .maplegend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .maplegend .legend-source {
    font-size: 80%;
    color: #777;
    clear: both;
    }
  .maplegend a {
    color: #777;
    }
</style>
{% endmacro %}"""



macro = MacroElement()
macro._template = Template(template)

html = """
    <h3> Event ID  : </h3><p>{}</p>
    <h3> Event Name: </h3><p></p>
    <h3> Location: </h3><p>{}</p>
    """

legend_html = """
     <div style=”position: fixed; 
     bottom: 50px; left: 50px; width: 100px; height: 90px; 
     border:2px solid grey; z-index:9999; font-size:14px;
     “>&nbsp; Cool Legend <br>
     &nbsp; East &nbsp; <i class=”fa fa-map-marker fa-2x”
                  style=”color:green”></i><br>
     &nbsp; West &nbsp; <i class=”fa fa-map-marker fa-2x”
                  style=”color:red”></i>
      </div>
     """
#m.get_root().add_child(macro)

#m

In [11]:
import branca #brrr
#m1 = folium.Map(location=[20,0], tiles="Mapbox Bright", zoom_start=2)
from folium.plugins import MarkerCluster
from folium.features import DivIcon

m = folium.Map(location=[ddrop['v_lat'].mean(),ddrop['v_lon'].mean()], zoom_start=12)
mc=MarkerCluster()

for line in ddrop.itertuples():
    #try:
        if str(line.v_lat) != "nan" : #where exists use venue lat/lon
            lat=line.v_lat
        else: #elsewhere use group lat
            lat=line.g_lat
            #print("g_lat: ",lat)
        if str(line.v_lon) != "nan": #where exists use venue lat/lon
            lon=line.v_lon
        else: #elsewhere use group lat
            lon=line.g_lon

        f = branca.element.Figure()
        m1=folium.Map([float(lat), float(lon)], zoom_start=10) #eventualmente aggiungere il livello di zoom in base al raggio può essere fyco

        iframe = branca.element.IFrame(
            html=html.format(ddrop['ID_event'].at[line.Index], ddrop['venue_name'].at[line.Index]), 
            width=400, height=240)
        popup1 = folium.Popup(iframe, show=True)


        m1.add_child(folium.Circle(
          location=[float(lat), float(lon)],
          popup=popup1,
          radius=int(ddrop.iloc[line.Index]['maxdist'])*1000,
          #radius=1,
          color='crimson',
          fill=False,
          #fill_color='crimson',

        ))
        #print (lat,"   ", lon)
        #trying to add some text
        #m1.add_child(folium.Marker(
            #location=[45.5,8.5],#[lat, lon],
            #icon=DivIcon(icon_size=(150,36), icon_anchor=(0,0),html='<div style="font-size: 24pt">Bacino d\'utenza</div>')
            #))

        #macro1 = MacroElement()
        #macro1._template = Template(template)
        #m1.get_root().add_child(macro1)

        f.html.add_child(branca.element.Element("<h1>Bacino d'utenza</h1>"))
        #f.html.add_child(branca.element.Element(legend_html))

        #fig = folium.element.Figure()
        #fig.html.add_child(folium.element.Element("<h1>This is a title</h1>"))

        #m1.title = 'My fancy title here'
        #f.add_child(m1)
        m1.add_to(f)

        #iframe = branca.element.IFrame(html=html.format(ddrop['event_id'].at[line.Index], ddrop['city'].at[line.Index]), width=500, height=300)
        #popup = folium.Popup(iframe)
        iframe = branca.element.IFrame(width=1000, height=600)
        f.add_to(iframe)

        # Let's put the IFrame in a Popup
        popup = folium.Popup(iframe, max_width=2650)
        mc.add_child(
            folium.Marker(
            location = [float(lat), float(lon)], 
            popup=popup,
            ))
        #if line.Index is 10:
        #    break
    #except Exception as e:
    #    print(e)
m.add_child(mc)
plugins.Fullscreen(
    position='topright',
    title='Expand me',
    title_cancel='Exit me',
    force_separate_button=True
).add_to(m)


macro = MacroElement()

macro._template = Template(template)

m.get_root().add_child(macro)
#map.get_root().add_child(macro1)

folium.LayerControl().add_to(m)

#display(m)
    
#Save it as html
m.save('/home/dario/NeoMeetup/Visualizations/map/export_europe.html')