In [ ]:
import os 
try:    
    import folium
except ImportError:
    !pip install --user folium
    import folium
    
from folium import plugins
import pandas as pd
import numpy as np

In [3]:
ddrop=pd.read_csv("/home/dario/NeoMeetup/Visualizations/map/ddrop_all.csv")
ddrop.head()

/home/dario/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,index,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist,maxdist
0,0,579576,101083482,Wantagh,40.69,-73.51,NaN,NaN,NaN,24.792620,24.792620
1,1,627720,103812152,Rotterdam,51.93,4.48,NaN,NaN,NaN,21.602335,21.602335
2,2,1225418,104431012,San Francisco,37.75,-122.42,The 500 Club,37.763176,-122.42402,7.000000,7.000000
3,3,764134,105444102,Palm Coast,29.53,-81.23,NaN,NaN,NaN,567.794485,567.794485
4,4,382211,106746502,Torrance,33.83,-118.31,NaN,NaN,NaN,22.568371,22.568371

In [4]:
lat_df=ddrop[['v_lat', 'v_lon']]
print(len(ddrop))
str(lat_df.v_lat[0]) == "nan"

281443

True

In [5]:
for line in lat_df.itertuples():
    if str(line.v_lat) == "nan":
        lat_df['v_lat'].at[line.Index]= ddrop['g_lat'].at[line.Index]
    if str(line.v_lon) == "nan":
        lat_df['v_lon'].at[line.Index]= ddrop['g_lon'].at[line.Index]
len(lat_df)

281443

In [6]:
lat_df.isna().any()

v_lat    False
v_lon    False
dtype: bool

In [7]:
lat_df=lat_df.astype(float)

from folium.plugins import HeatMap


map_hooray = folium.Map(location=[ddrop['v_lat'].mean(),ddrop['v_lon'].mean()], zoom_start=5)


# List comprehension to make out list of lists
heat_data = [[row['v_lat'],row['v_lon']] for index, row in lat_df.iterrows()]

# Plot it on the map
HeatMap(heat_data).add_to(map_hooray)

# Display the map
map_hooray.save("/home/dario/NeoMeetup/Visualizations/map/heat_map_world.html")