In [1]:
import pandas as pd

In [47]:
df=pd.read_csv("try.csv", sep=",")
df.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName,Unnamed: 6
0,Somaliland,Hargeisa,9.55,44.050000,NaN,Africa,NaN
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica,NaN
2,French Southern and Antarctic Lands,Port-aux-Français,-49.35,70.216667,TF,Antarctica,NaN
3,Palestine,Jerusalem,31.7666666666667,35.233333,PS,Asia,NaN
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe,NaN

In [37]:
a=(df['ContinentName']=='Europe').reset_index()
#df.reset_index()
a['ContinentName']

0      False
1      False
2      False
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10      True
11     False
12     False
13      True
14     False
15     False
16     False
17     False
18      True
19     False
20     False
21      True
22      True
23     False
24     False
25     False
26     False
27      True
28      True
29     False
       ...
215    False
216    False
217    False
218    False
219     True
220    False
221    False
222    False
223    False
224     True
225    False
226     True
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240     True
241    False
242    False
243    False
244    False
Name: ContinentName, Length: 245, dtype: bool

In [93]:
europe_df=df.loc[a['ContinentName']]
europe_list=europe_df['CapitalName'].tolist()
europe_list.append("Milan")
print(europe_list)

['Mariehamn', 'Tirana', 'Andorra la Vella', 'Yerevan', 'Vienna', 'Baku', 'Minsk', 'Brussels', 'Sarajevo', 'Sofia', 'Zagreb', 'Nicosia', 'Prague', 'Copenhagen', 'Tallinn', 'Torshavn', 'Helsinki', 'Paris', 'Tbilisi', 'Berlin', 'Gibraltar', 'Athens', 'Saint Peter Port', 'Vatican City', 'Budapest', 'Reykjavik', 'Dublin', 'Douglas', 'Rome', 'Saint Helier', 'Pristina', 'Riga', 'Vaduz', 'Vilnius', 'Luxembourg', 'Skopje', 'Valletta', 'Chisinau', 'Monaco', 'Podgorica', 'Amsterdam', 'Oslo', 'Warsaw', 'Lisbon', 'Bucharest', 'Moscow', 'San Marino', 'Belgrade', 'Bratislava', 'Ljubljana', 'Madrid', 'Longyearbyen', 'Stockholm', 'Bern', 'Ankara', 'Kyiv', 'London', 'North Nicosia', 'Milan']

In [46]:
df1=pd.read_csv("world-cities_csv.csv")
df1.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [55]:
df.merge(df1, left_on="CountryName",right_on="country")

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName,Unnamed: 6,name,country,subcountry,geonameid
0,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe,NaN,Mariehamn,Aland Islands,Mariehamns stad,3041732
1,Nauru,Yaren,-0.5477,166.920867,NR,Australia,NaN,Yaren,Nauru,Yaren,7626461
2,Saint Martin,Marigot,18.0731,-63.082200,MF,North America,NaN,Marigot,Saint Martin,NaN,3578851
3,Western Sahara,El-Aaiún,27.153611,-13.203333,EH,Africa,NaN,Smara,Western Sahara,Oued Ed-Dahab-Lagouira,2461874
4,Western Sahara,El-Aaiún,27.153611,-13.203333,EH,Africa,NaN,Laâyoune / El Aaiún,Western Sahara,Oued Ed-Dahab-Lagouira,2462881
5,Western Sahara,El-Aaiún,27.153611,-13.203333,EH,Africa,NaN,Dakhla,Western Sahara,Oued Ed-Dahab-Lagouira,2463447
6,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Zaranj,Afghanistan,Nīmrūz,1120985
7,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Taloqan,Afghanistan,Takhār,1123004
8,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Shīnḏanḏ,Afghanistan,Herat,1125155
9,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Shibirghān,Afghanistan,Jowzjān,1125444
10,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Shahrak,Afghanistan,Ghowr,1125896
11,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Sar-e Pul,Afghanistan,Sar-e Pol,1127110
12,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Sang-e Chārak,Afghanistan,Sar-e Pol,1127628
13,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Aībak,Afghanistan,Samangān,1127768
14,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Rustāq,Afghanistan,Takhār,1128265
15,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Qarqīn,Afghanistan,Jowzjān,1129516
16,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Qarāwul,Afghanistan,Kunduz,1129648
17,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Pul-e Khumrī,Afghanistan,Wilāyat-e Baghlān,1130490
18,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Paghmān,Afghanistan,Kabul,1131316
19,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Nahrīn,Afghanistan,Wilāyat-e Baghlān,1132495
20,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Maymana,Afghanistan,Faryab,1133453
21,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Mehtar Lām,Afghanistan,Laghmān,1133574
22,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Mazār-e Sharīf,Afghanistan,Balkh,1133616
23,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Lashkar Gāh,Afghanistan,Helmand,1134720
24,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Kushk,Afghanistan,Herat,1135158
25,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Kunduz,Afghanistan,Kunduz,1135689
26,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Khōst,Afghanistan,Khowst,1136469
27,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Khulm,Afghanistan,Balkh,1136575
28,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Khāsh,Afghanistan,Nīmrūz,1136863
29,Afghanistan,Kabul,34.5166666666667,69.183333,AF,Asia,NaN,Khanabad,Afghanistan,Kunduz,1137168
...,...,...,...,...,...,...,...,...,...,...,...
22808,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Rusape,Zimbabwe,Manicaland,882100
22809,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Redcliff,Zimbabwe,Midlands,882599
22810,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Norton,Zimbabwe,Mashonaland West,884141
22811,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Mutare,Zimbabwe,Manicaland,884979
22812,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Masvingo,Zimbabwe,Masvingo,886763
22813,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Marondera,Zimbabwe,Mashonaland East,886990
22814,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Kwekwe,Zimbabwe,Midlands,888710
22815,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Karoi,Zimbabwe,Mashonaland West,889191
22816,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Kariba,Zimbabwe,Mashonaland West,889215
22817,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Kadoma,Zimbabwe,Mashonaland West,889453
22818,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Hwange,Zimbabwe,Matabeleland North,889942
22819,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Harare,Zimbabwe,Harare,890299
22820,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Gweru,Zimbabwe,Midlands,890422
22821,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Gokwe,Zimbabwe,Midlands,890983
22822,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Chiredzi,Zimbabwe,Masvingo,893485
22823,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Chipinge,Zimbabwe,Manicaland,893549
22824,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Chinhoyi,Zimbabwe,Mashonaland West,893697
22825,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Chegutu,Zimbabwe,Mashonaland West,894239
22826,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Bulawayo,Zimbabwe,Bulawayo,894701
22827,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Bindura,Zimbabwe,Mashonaland Central,895061
22828,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Beitbridge,Zimbabwe,Matabeleland South,895269
22829,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Epworth,Zimbabwe,Harare,1085510
22830,Zimbabwe,Harare,-17.8166666666667,31.033333,ZW,Africa,NaN,Chitungwiza,Zimbabwe,Harare,1106542
22831,Hong Kong,NaN,0,0.000000,HK,Asia,NaN,Tsuen Wan,Hong Kong,Tsuen Wan,1818209
22832,Hong Kong,NaN,0,0.000000,HK,Asia,NaN,Yuen Long Kau Hui,Hong Kong,Yuen Long,1818223
22833,Hong Kong,NaN,0,0.000000,HK,Asia,NaN,Tuen Mun,Hong Kong,Tuen Mun,1818446
22834,Hong Kong,NaN,0,0.000000,HK,Asia,NaN,Tai Po,Hong Kong,Tai Po,1818673
22835,Hong Kong,NaN,0,0.000000,HK,Asia,NaN,Sha Tin,Hong Kong,Sha Tin,1818920
22836,Hong Kong,NaN,0,0.000000,HK,Asia,NaN,Kowloon,Hong Kong,Kowloon City,1819609
22837,Hong Kong,NaN,0,0.000000,HK,Asia,NaN,Hong Kong,Hong Kong,Central and Western,1819729

In [89]:
a=(df['ContinentName']=='Europe').reset_index()
europe_df=df.loc[a['ContinentName']]
len(europe_df)
country_list=europe_df['CountryName'].tolist()
#df1.loc[b]
print(country_list)
city_list=[]
for row in df1.itertuples():
    if row.country in country_list:
        city_list.append(row.name)
        
ita_city=df1.loc[df1['country']=="Italy"]
#print(city_list)
if "Villabate" in city_list:
    print("hello")
ita_city.sort_values("name")
ita_city.loc[ita_city.name=="Milano"]

['Aland Islands', 'Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France', 'Georgia', 'Germany', 'Gibraltar', 'Greece', 'Guernsey', 'Vatican City', 'Hungary', 'Iceland', 'Ireland', 'Isle of Man', 'Italy', 'Jersey', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Svalbard', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom', 'Northern Cyprus']
hello

         name country subcountry  geonameid
11796  Milano   Italy   Lombardy    3173435