In [2]:
import os 
try:
    import earthpy as et
except:
    !pip install --user earthpy
    import earthpy as et
try:    
    import folium
except:
    !pip install --user folium
    import folium
    
from folium import plugins

try:
    import rasterio as rio
except:
    !pip install --user rasterio
    import rasterio as rio
    
from rasterio.warp import calculate_default_transform, reproject, Resampling

# Set working directory to earth-analytics
!mkdir ~/earth-analytics
os.chdir(os.path.join(et.io.HOME, 'earth-analytics'))

In [7]:
import pandas as pd
''' 
# Make a data frame with dots to show on the map
data = pd.DataFrame({
   'lat':[-58, 2, 145, 30.32, -4.03, -73.57, 36.82, -38.5],
   'lon':[-34, 49, -38, 59.93, 5.33, 45.52, -1.29, -12.97],
   'name':['Buenos Aires', 'Paris', 'melbourne', 'St Petersbourg', 'Abidjan', 'Montreal', 'Nairobi', 'Salvador'],
   'value':[10,12,40,70,23,43,100,43]
})
data
'''

data=pd.read_csv("/home/dario/NeoMeetup/Visualizations/Untitled Folder/memoryview")

      lat    lon            name  value
0  -58.00 -34.00    Buenos Aires     10
1    2.00  49.00           Paris     12
2  145.00 -38.00       melbourne     40
3   30.32  59.93  St Petersbourg     70
4   -4.03   5.33         Abidjan     23
5  -73.57  45.52        Montreal     43
6   36.82  -1.29         Nairobi    100
7  -38.50 -12.97        Salvador     43

In [8]:
# Make an empty map
m = folium.Map(location=[20,0], tiles="Mapbox Bright", zoom_start=2)

In [19]:
# I can add marker one by one on the map
for i in range(0,len(data)):
   folium.Circle(
      location=[float(data.iloc[i]['lon']), float(data.iloc[i]['lat'])],
      popup=data.iloc[i]['name'],
      radius=float(data.iloc[i]['value'])*10000,
      color='crimson',
      fill=True,
      fill_color='crimson'
   ).add_to(m)

In [21]:
# Save it as html
m.save('/home/dario/NeoMeetup/Visualizations/Untitled Folder/absmymap.html')