In [1]:
#from __future__ import print_function

import os 
try:    
    import folium
except ImportError:
    !pip install --user folium
    import folium
    
from folium import plugins
import pandas as pd
import numpy as np

## Data Prep

In [10]:
data=pd.read_csv("/home/dario/NeoMeetup/Visualizations/map/export_all.csv")
data.head()
data.sort_values("ID_event").head()

,ID_member,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
579576,177121402,101083482,Wantagh,40.69,-73.51,NaN,NaN,NaN,24.792620
627720,183494286,103812152,Rotterdam,51.93,4.48,NaN,NaN,NaN,21.602335
1225418,278803829,104431012,San Francisco,37.75,-122.42,The 500 Club,37.763176,-122.42402,0.000000
764134,200502435,105444102,Palm Coast,29.53,-81.23,NaN,NaN,NaN,567.794485
382211,184305377,106746502,Torrance,33.83,-118.31,NaN,NaN,NaN,22.568371

In [11]:
print(len(data))

1302593

In [12]:
for line in data.itertuples():
    if data.iloc[line.Index]['dist']==0:
        data['dist'].at[line.Index]=7 #arbitrary for milan
data.head()

,ID_member,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
0,220200963,259704167,Gen\u00e8ve,46.21,6.14,SDG Solution Space,46.220695,6.147059,7.000000
1,253755396,259287166,Melbourne,-37.81,144.96,Amazon Office,-37.815390,144.972800,7.000000
2,253755396,260078458,Melbourne,-37.81,144.96,DeakinCo,-37.821020,144.949950,7.000000
3,253755396,259486287,Melbourne,-37.81,144.96,DigIO,-37.819710,144.958790,7.000000
4,262493526,bzbtvqyzgbsb,Boulder,40.05,-105.21,Centennial Middle School Track,40.045494,-105.265705,6.068342

In [13]:
data.sort_values(["ID_event","dist"], inplace=True)
data

,ID_member,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
579576,177121402,101083482,Wantagh,40.69,-73.51,NaN,NaN,NaN,24.792620
627720,183494286,103812152,Rotterdam,51.93,4.48,NaN,NaN,NaN,21.602335
1225418,278803829,104431012,San Francisco,37.75,-122.42,The 500 Club,37.763176,-122.424020,7.000000
764134,200502435,105444102,Palm Coast,29.53,-81.23,NaN,NaN,NaN,567.794485
382211,184305377,106746502,Torrance,33.83,-118.31,NaN,NaN,NaN,22.568371
1226708,218084573,106866582,Paris,48.86,2.34,NaN,NaN,NaN,7.000000
1214967,173930282,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,1.421893
218672,105215332,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,2.877915
333927,224459510,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,4.265240
793708,11807177,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,6.271611
960206,221924974,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,6.271611
1019479,117244812,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,6.271611
832518,271911665,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,7.000000
1082995,64606452,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,7.000000
838882,185937830,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,7.034105
182727,88981752,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,10.673811
292049,269564648,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,12.245150
22589,192973723,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,17.497023
199745,48560962,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,20.115280
17726,272657977,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,21.316122
281573,268901398,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,26.304367
446221,252397545,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,30.485795
861891,250984113,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,32.714377
1045577,12188822,108455682,Sunnyvale,37.38,-122.02,Alberto's,37.392410,-122.078926,34.567916
470235,204203056,108754472,Sunnyvale,37.35,-122.03,NaN,NaN,NaN,20.883782
569094,191783566,109292572,Federal Way,47.30,-122.37,NaN,NaN,NaN,1.875974
328645,9934324,109492422,New York,40.74,-73.99,NaN,NaN,NaN,20.274771
180603,195819641,110145502,G\u00f6teborg,57.72,12.01,NaN,NaN,NaN,11096.822434
771801,185834930,110889492,San Antonio,29.46,-98.67,NaN,NaN,NaN,10.664726
299150,2592644,111186632,Boston,42.35,-71.07,NaN,NaN,NaN,9.810783
...,...,...,...,...,...,...,...,...,...
465920,248235797,zzzjvqyzgbpb,Cedar Park,30.49,-97.83,"Duve Wellness Center, Dr. Susan Duve - Cedar P...",30.518440,-97.835380,15.507240
39631,251720578,zzztsqyzgbfb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
1133716,253498239,zzztsqyzgbfb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
1249562,272548339,zzztsqyzgbfb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
534319,277708322,zzztsqyzgbfb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,1035.046500
981849,274233363,zzztsqyzgbgc,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
675466,189866208,zzztsqyzgbgc,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,252.114526
1047198,253363696,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,2.226391
1097440,278608097,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,2.675462
431310,185263795,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,4.466472
39633,251720578,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
597336,277815522,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
744808,278063897,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
751268,248714893,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
753841,223553549,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
850311,225800996,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
859144,276145798,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
1133714,253498239,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
1275759,266297099,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
906801,278314942,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,9.028070
444172,177608092,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,10.961045
1183699,247433672,zzztsqyzgbnb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,742.463040
669225,265353645,zzztsqyzgbwb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
744809,278063897,zzztsqyzgbwb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
785416,269743571,zzztsqyzgbwb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
1038966,278517059,zzztsqyzgbwb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,7.000000
906802,278314942,zzztsqyzgbwb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,9.028070
1190883,274556190,zzztsqyzgbwb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,9.028070
444171,177608092,zzztsqyzgbwb,Vienna,48.22,16.37,Midi - Caf\u00e9 & Bistrot,48.213510,16.367710,10.961045
1102884,221993567,zzzvtqyzgbwb,Grand Rapids,42.96,-85.66,The Yoga Studio,42.960114,-85.644936,7.000000

In [14]:
ddrop=data.drop_duplicates(subset="ID_event" , keep="last")
ddrop=ddrop.drop("ID_member", axis=1)
#ddrop.sort_values("ID_event")
ddrop=ddrop.reset_index()
ddrop.head()

,index,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist
0,579576,101083482,Wantagh,40.69,-73.51,NaN,NaN,NaN,24.792620
1,627720,103812152,Rotterdam,51.93,4.48,NaN,NaN,NaN,21.602335
2,1225418,104431012,San Francisco,37.75,-122.42,The 500 Club,37.763176,-122.42402,7.000000
3,764134,105444102,Palm Coast,29.53,-81.23,NaN,NaN,NaN,567.794485
4,382211,106746502,Torrance,33.83,-118.31,NaN,NaN,NaN,22.568371

In [15]:
d=data.groupby("ID_event")['dist'].quantile(0.75).reset_index()
print(d.head())
d.rename(columns={'dist':'maxdist'}, inplace=True)
ddrop=ddrop.merge(d, on="ID_event")
ddrop.head()

    ID_event        dist
0  101083482   24.792620
1  103812152   21.602335
2  104431012    7.000000
3  105444102  567.794485
4  106746502   22.568371

,index,ID_event,g_city,g_lat,g_lon,venue_name,v_lat,v_lon,dist,maxdist
0,579576,101083482,Wantagh,40.69,-73.51,NaN,NaN,NaN,24.792620,24.792620
1,627720,103812152,Rotterdam,51.93,4.48,NaN,NaN,NaN,21.602335,21.602335
2,1225418,104431012,San Francisco,37.75,-122.42,The 500 Club,37.763176,-122.42402,7.000000,7.000000
3,764134,105444102,Palm Coast,29.53,-81.23,NaN,NaN,NaN,567.794485,567.794485
4,382211,106746502,Torrance,33.83,-118.31,NaN,NaN,NaN,22.568371,22.568371

## Let's build a map

In [16]:
#legend template
from branca.element import Template, MacroElement

template = """
{% macro html(this, kwargs) %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
  $( function() {
    $( "#maplegend" ).draggable({
                    start: function (event, ui) {
                        $(this).css({
                            right: "auto",
                            top: "auto",
                            bottom: "auto"
                        });
                    }
                });
});

  </script>
</head>
<body>

 
<div id='maplegend' class='maplegend' 
    style='position: fixed; z-index:9999; border:2px solid grey; background-color:rgba(255, 255, 255, 0.8);
     border-radius:6px; padding: 10px; font-size:14px; right: 20px; bottom: 20px;'>
     
<div class='legend-title'>Legend (draggable!)</div>
<div class='legend-scale'>
  <ul class='legend-labels'>
    <li><span style='background:red;opacity:0.7;'></span>Bacino d'utenza</li>
    <!-- questo Ã¨ un commento <li><span style='background:orange;opacity:0.7;'></span>Medium</li>
    <li><span style='background:green;opacity:0.7;'></span>Small</li> -->

  </ul>
</div>
</div>
 
</body>
</html>

<style type='text/css'>
  .maplegend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .maplegend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .maplegend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .maplegend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .maplegend .legend-source {
    font-size: 80%;
    color: #777;
    clear: both;
    }
  .maplegend a {
    color: #777;
    }
</style>
{% endmacro %}"""



macro = MacroElement()
macro._template = Template(template)

html = """
    <h3> Event ID  : </h3><p>{}</p>
    <h3> Event Name: </h3><p></p>
    <h3> Location: </h3><p>{}</p>
    """

legend_html = """
     <div style=â€position: fixed; 
     bottom: 50px; left: 50px; width: 100px; height: 90px; 
     border:2px solid grey; z-index:9999; font-size:14px;
     â€œ>&nbsp; Cool Legend <br>
     &nbsp; East &nbsp; <i class=â€fa fa-map-marker fa-2xâ€
                  style=â€color:greenâ€></i><br>
     &nbsp; West &nbsp; <i class=â€fa fa-map-marker fa-2xâ€
                  style=â€color:redâ€></i>
      </div>
     """
#m.get_root().add_child(macro)

#m

In [ ]:
import branca #brrr
#m1 = folium.Map(location=[20,0], tiles="Mapbox Bright", zoom_start=2)
from folium.plugins import MarkerCluster
from folium.features import DivIcon

m = folium.Map(location=[ddrop['v_lat'].mean(),ddrop['v_lon'].mean()], zoom_start=12)
mc=MarkerCluster()

for line in ddrop.itertuples():
    #try:
        if str(line.v_lat) != "nan" : #where exists use venue lat/lon
            lat=line.v_lat
        else: #elsewhere use group lat
            lat=line.g_lat
            #print("g_lat: ",lat)
        if str(line.v_lon) != "nan": #where exists use venue lat/lon
            lon=line.v_lon
        else: #elsewhere use group lat
            lon=line.g_lon

        f = branca.element.Figure()
        m1=folium.Map([float(lat), float(lon)], zoom_start=10) #eventualmente aggiungere il livello di zoom in base al raggio puÃ² essere fyco

        iframe = branca.element.IFrame(
            html=html.format(ddrop['ID_event'].at[line.Index], ddrop['venue_name'].at[line.Index]), 
            width=400, height=240)
        popup1 = folium.Popup(iframe, show=True)


        m1.add_child(folium.Circle(
          location=[float(lat), float(lon)],
          popup=popup1,
          radius=int(ddrop.iloc[line.Index]['maxdist'])*1000,
          #radius=1,
          color='crimson',
          fill=False,
          #fill_color='crimson',

        ))
        #print (lat,"   ", lon)
        #trying to add some text
        #m1.add_child(folium.Marker(
            #location=[45.5,8.5],#[lat, lon],
            #icon=DivIcon(icon_size=(150,36), icon_anchor=(0,0),html='<div style="font-size: 24pt">Bacino d\'utenza</div>')
            #))

        #macro1 = MacroElement()
        #macro1._template = Template(template)
        #m1.get_root().add_child(macro1)

        f.html.add_child(branca.element.Element("<h1>Bacino d'utenza</h1>"))
        #f.html.add_child(branca.element.Element(legend_html))

        #fig = folium.element.Figure()
        #fig.html.add_child(folium.element.Element("<h1>This is a title</h1>"))

        #m1.title = 'My fancy title here'
        #f.add_child(m1)
        m1.add_to(f)

        #iframe = branca.element.IFrame(html=html.format(ddrop['event_id'].at[line.Index], ddrop['city'].at[line.Index]), width=500, height=300)
        #popup = folium.Popup(iframe)
        iframe = branca.element.IFrame(width=1000, height=600)
        f.add_to(iframe)

        # Let's put the IFrame in a Popup
        popup = folium.Popup(iframe, max_width=2650)
        mc.add_child(
            folium.Marker(
            location = [float(lat), float(lon)], 
            popup=popup,
            ))
        #if line.Index is 10:
        #    break
    #except Exception as e:
    #    print(e)
m.add_child(mc)
plugins.Fullscreen(
    position='topright',
    title='Expand me',
    title_cancel='Exit me',
    force_separate_button=True
).add_to(m)


macro = MacroElement()

macro._template = Template(template)

m.get_root().add_child(macro)
#map.get_root().add_child(macro1)

folium.LayerControl().add_to(m)

#display(m)
    
#Save it as html
m.save('/home/dario/NeoMeetup/Visualizations/map/MEETTHEWORLD.html')