# Load Packages

In [2]:
import seaborn as sns
import pandas as pd

# Import data

In [5]:
df = pd.read_table('https://raw.githubusercontent.com/DBertazioli/ARmeetup/master/Visualizations/survey/user_test.txt',
                  sep = ',')
df.head()

   id   time_s   response   n_viz
0   1    14.78          1       1
1   1    65.17          1       2
2   2    20.34          1       1
3   2    90.67          0       2
4   3    13.46          0       1

## Split Dataframe

In [9]:
df1 = df[df[' n_viz'] == 1]
df1.head()

   id   time_s   response   n_viz
0   1    14.78          1       1
2   2    20.34          1       1
4   3    13.46          0       1
6   4    10.08          0       1
8   5    53.14          1       1

In [10]:
len(df1)

15

In [11]:
df2 = df[df[' n_viz'] == 2]
df2.head()

   id   time_s   response   n_viz
1   1    65.17          1       2
3   2    90.67          0       2
5   3    70.14          1       2
7   4    96.35          1       2
9   5   136.35          1       2

In [12]:
len(df2)

15